:root {
	overflow-x: hidden;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.inputs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}